<div style="float:left;">
<!--BLOCK START-->
		<div style="padding:10px;">
		<h3 class="light">ABOUT TIH-RA</h3>
		<% personal_info = PersonalInfo.find(:first)%>
		<%=personal_info.content%>
</div>
<!--//BLOCK END-->
</div>