<!--BLOCK START-->
<div class="boxDarkGray">
    <b class="r5"></b><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b>
	<div class="inner-box">
<!--//BLOCK START-->
		<h2><%=title%></h2>
				<%=yield%>
<!--BLOCK END-->
	<div class="clear-10">&nbsp;</div>
</div>
<b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b><b class="r5"></b>
</div>
<!--//BLOCK END-->
