<!--BLOCK START-->
<div class="boxDarkGray">
    <b class="r5"></b><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b>
	<div class="inner-box">
<!--//BLOCK START-->
		<h2>EDIT EVENTS @ <%=@event.title%></h2>
		<% form_for :event, :url => manage_event_path(@event), :html=>{:method=>:put} do |f| -%>
		<%=render :partial => "form", :locals => { :f => f }%>
		<label for="post_title">Отчет</label><br/>
		<%= collection_select_multiple_posts :event, :posts, {:include_blank=>"--------"}, {:style=>"width:500px;height:200px;"} %>
		<div class="clear-10">&nbsp;</div>
		<%= submit_tag "Сохранить", :class=>"submit" %>
		<% end %>
<!--BLOCK END-->
		
	<div class="clear-10">&nbsp;</div>
</div>
<b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b><b class="r5"></b>
</div>
<!--//BLOCK END-->