<label for="post_title">Категорія</label><br/>
<%=f.collection_select(:category, Service::CETEGORIES, :idn, :name_ukr) %>
<%=igogo_upload_file current_user.id, {:button_image_url=>"/stylesheets/igogo_uploader/funny-select.png"}%>

<%#=link_to image_tag("icons/photo.png", :class=>"icon"), igogo_uploader_path, :title=>"Добавити фото", :onclick=>"Modalbox.show(this.href, {title: this.title, width: 600, height:300}); return false;"%>
<div class="clear"><!--IE--></div>
<label for="post_content">Зміст</label>
<%= f.text_area :content, :class=>'blog' %>
<div class="clear"><!--IE--></div>
<div class="clear-10">&nbsp;</div>
<%= submit_tag "Зберегти", :class=>"submit" %>