<div class="column span-15 first prativagaz">
<div class="clear-1">&nbsp;</div>
<%=render :partial => "posts/post", :collection => @posts, :locals=>{:extendet=>false}%>
</div>
<div class="column span-8 last">
	<%=render :partial => "includes/banner"%>
	<div class="clear-10">&nbsp;</div>
</div>