<div class="column span-24 first last">
	<div class="gr_box" style="background:url(/images/services_circle.gif) no-repeat left">
		<h1 class="gr_title">Про нас</h1>
	</div>
	
	<div class="column span-24 first">
		<div style="padding-left:40px">
			
			вул. Дмитрівська, 56а, офис 3, 01054, Киев, Украина<br/>
			Тел/Факс.: +380 (44) 585 30 15<br/>
			Веб-сайт: www.shotofilms.com.ua, Електронна пошта: hello@shotofilms.com.ua
		</div>
	</div>
	
</div>