<div class="column span-24 first last">
	<div class="gr_box" style="background:url(/images/img_for_services/<%=@our_service.category%>c.gif) no-repeat left">
		<h1 class="gr_title"><%=Service::CETEGORIES.find {|c| c.idn==@our_service.category}.name%></h1>
	</div>
	
	<div class="column span-13 first unitaz">
		<div style="padding-left:40px"><%=@our_service.content%></div>
	</div>
	<div class="column span-11 last vodolaz" style="text-align:center;">
		<%=image_tag "img_for_services/#{@our_service.category}p.png", :class=>""%>
	</div>
</div>