<div class="column span-24 first last">
	<div class="gr_box" style="background:url(/images/services_circle.gif) no-repeat left">
		<h1 class="gr_title">Про нас</h1>
	</div>
	
	<div class="column span-24 first unitaz">
		<div style="padding-left:40px">
			<% @personal_info = PersonalInfo.find(:first)%>
			<%=@personal_info.content if @personal_info%>
		</div>
	</div>
</div>