<div class="column span-17 first prativagaz">
<div class="column span-17 first last">
	<div class="column span-11"><%=will_paginate @posts%>&nbsp;</div>
</div>
<div class="clear-1">&nbsp;</div>
<%=render :partial => "posts/post", :collection => @posts, :locals=>{:extendet=>false}%>
</div>
<div class="column span-6 last">
	<%=render :partial => "includes/top_posts"%>
	<div class="clear-10">&nbsp;</div>
	<%=render :partial => "includes/tags_posts"%>
</div>
