<div class="column span-17 first prativagaz">
<div class="clear-1">&nbsp;</div>
<%=render :partial => "posts/post", :object => @post, :locals=>{:extendet=>true}%>
<% comments_area @post do %>
	<h2 style="margin-top:-10px">Обговорення</h2>
	<%=render :partial => "comments/form", :locals => { :model=>@post }%>
<% end %>
</div>

<div class="column span-6 last">
	<%=render :partial => "includes/top_posts"%>
	<div class="clear-10">&nbsp;</div>
	<%=render :partial => "includes/tags_posts"%>
</div>
