<script language="javascript">

function callFrontJs(src) {
	if (toremove!=src.id)
		tinyMCE.execCommand('mceInsertContent', false, '<img src='+$(src).readAttribute("bigimage")+'>');
}
function insertMusicFile(objid, objname) {
	tinyMCE.execCommand('mceInsertContent', false, 'music:'+objname+':'+objid+':');
}
function validate_entries() {
	if ($('post_title').value == '') {
		alert('Вы забыли указать заголовок !');
		return false;
	}
}
</script>


<%render :layout => "manage/includes/boxDarkGray", :locals=>{:title=>"СТВОРИТИ ПОСТ"} do %>
	<% form_for :post, :url => manage_posts_path, :html => { :onsubmit => 'return validate_entries();', :id=>"post_form"} do |f| -%>
		<%=render :partial => "form", :locals=>{:f=>f}%>
	<% end %>
<%end%>	
<div class="clear-10">&nbsp;</div>
<div class="clear-10">&nbsp;</div>		
<%render :layout => "manage/includes/boxDarkGray", :locals=>{:title=>"МОЇ ПОСТИ"} do %>
	<div style="float:right"><%=will_paginate @posts%></div>
	<div class="clear-1">&nbsp;</div>
	<%=render :partial=> "post", :collection => @posts%>
<%end%>
<!--//BLOCK END-->
